# requirements.txt

matplotlib

psutil

numpy
pandas
tables
xgboost
scikit-learn

torch
tensordict
pytorch-lightning
jsonargparse[signatures]>=4.18.0
wandb

# -i https://pypi.nvidia.com
# cuml-cu11==23.12.*